@page "/EditIncome"
@inherits EditIncomeBase

<PageTitle>New Income</PageTitle>
<h1>Edit income</h1>
<h3>New Income</h3>

<div class="row">
	<div class="col-sm-4">
		<form method="post">
			
		</form>
	</div>
</div> 
