@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <article class="content px-4">
            @* <ErrorBoundary Context="Exception">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert bg-danger text-white alert-dismissible">
                        @Exception.Message
                    </div>
                </ErrorContent>
            </ErrorBoundary> *@
            @Body
        </article>
    </main>
</div>
