@page "/"
@using Finance.Client.Pages.PageIncome.ChildComponent
@inherits IncomeBase

<PageTitle>Income</PageTitle>

<h1>Доходы</h1>

<div class="row mb-4">
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary" @onclick="HandleSumbit">
			Новый доход
		</button>
	</div>
	<div class="col-sm-2">
		<textarea @bind="Description" @bind:event="oninput"/>
		Count: @Description.Length
	</div>
	<div class="col-sm-2">
		<InputCheckbox id="showCategory" @bind-Value="ShowCategory" />
		<label for="showCategory">Показать категории</label>
	</div>

	@if(Currencies == null)
	{
		<h2>Нет валют</h2>
	}
	else
	{
		<div class="col-sm-2">
			<select class="form-select" @onchange="ChangeCurrency">
				<option value="0">Выберите валюту</option>
				@foreach (var currency in Currencies)
				{
					<option value="@currency.CurrencyName">@currency.CurrencyName</option>
				}
			</select>
		</div>
	}
</div>


@if(Incomes == null)
{
	<h2>Загрузка доходов</h2>
}
else
{
	<DisplayTableIncome Incomes="@FilteredIncomes()"></DisplayTableIncome>
}


<div class="col-sm-6">
	<SummaryCategory ShowCategory="ShowCategory"></SummaryCategory>
</div>





