@inherits DisplayTableIncomeBase

<table class="table table-striped table-bordered table-hover">
	<thead class="table-dark">
	<th>Сумма</th>
	<th>Курс</th>
	<th>Категория</th>
	<th>Дата</th>
	<th></th>
	</thead>
	<tbody>
		@foreach (var income in Incomes)
		{
			<tr>
				<td>@income.Amount</td>
				<td>@income.CurrencyId</td>
				<td>@income.CategoryIncomeId</td>
				<td>@income.Date</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>
